<!-- eliminar_categoria.html -->
{% extends 'gerencia/baseG.html' %}
{% block title %}- Eliminar Categoría{% endblock  %}

{% block content %}
  <h2>Eliminar Categoría</h2>
  <p>¿Estás seguro de que deseas eliminar la categoría "{{ categoria.nombre }}"?</p>
  <form method="post" action="{% url 'eliminar_categoria' categoria.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Confirmar Eliminación</button>
  </form>
  <a href="{% url 'lista_categorias' %}">Cancelar</a>
{% endblock %}